<html ng-app="app">
	<head>
		<title>Charango learning material</title>
		<meta name="description" content="A concise chord library and set of tools for charanguistas and anyone with an interest in charangos">
		<meta name="viewport" content="width=350, initial-scale=1.0, maximum-scale=1, user-scalable=0">
		
		<link rel="stylesheet" type="text/css" href="styles.css">
		
		<script src="angular.min.js"></script>
		<script src="vexflow.min.js"></script>
		<script src="vexflow-helper.js"></script>
		<script src="anychord.js"></script>
		
		
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-52254492-1', 'michalpaszkiewicz.co.uk');
			ga('send', 'pageview');
		</script>
		
		<meta property="og:image" content="http://www.michalpaszkiewicz.co.uk/charango/images/charango-front.JPG"/>
	</head>
	<body>
		<div id="background"></div>
	
		<div  id="main-container" ng-controller="pageControl">
			<div id="header">
				<h1>Charango</h1>
				<div id="menu">
					<a id="burger-bar" ng-click="burger = !burger">=</a>
					<span id="menu-items" ng-show="burger">
						<a ng-click="go('home')">Home</a>
						<a ng-click="go('custom')">Custom</a>
						<a ng-click="go('chords')">Chords</a>
						<a ng-click="go('about')" href="">About</a>
					</span>
				</div>
			</div>
			
			<div id=header-push></div>
			
			<div id="home-view" class="view" ng-show="view == 'home'">
				<h1>Home</h1>
				<h2>Origins</h2>
				<p>The charango is an instrument originating in South America. It is a descendant of some form of stringed instrument brought over to South America by the Conquistadores.</p>
				<p>Originally the charango would have been made from the shell of the back of an Armadillo, however, modern Charangos are usually made of wood, which is a much better resonator (and is far more ethical).</p>
				<h2>Tuning</h2>
				<p>Charangos have 10 strings, usually tuned to:</p>
				<p style="text-align:center;"><b>GG CC EE AA EE</b></p>
				<p>With one of the middle Es tuned to an E an octave down.</p>
				<canvas id="my-canvas" width=300 height=100></canvas>
			</div>
			
			<div id="chords-view" class="view" style="max-width:none;" ng-show="view == 'chords'">
				<h1>({{chords.length}}) Chords</h1>
				<p>Please type in the chord you are looking for:</p>
				<input type="text" ng-model="searchNote" ng-keyup="waitDrawAll()" />
				
				<div class="chord-container" ng-repeat="chord in chords | filter:getSearchText()">
					<h1>{{chord.name}}</h1>
					<div>
						<b class="string-name" ng-repeat="string in customChord.strings">{{string.tuning}}</b>
						<canvas id="{{chord.name}}" height=300 width=250></canvas>
					</div>
				</div>
				
			</div>
			
			<div id="custom-view" class="view" ng-show="view == 'custom'">
				<h1>Custom chords</h1>
				<p>Use this tool to send a friend a custom charango chord.</p>
				
				<div style="margin:auto; width: 250px">
					<p>Label:</p>
					<input type="text" ng-model="customChord.label"/>
					<p>Frets:</p>
					<input type="number" min=0 ng-repeat="string in customChord.strings" ng-model="string.value"/>
					<b class="string-name" ng-repeat="string in customChord.strings">{{string.tuning}}</b>
					<canvas id="custom-chord" height=300 width=250></canvas>
					
				</div>
				
				<p>Send this link to a friend to show them the above chord:</p>
				<input type="text" ng-value="customChordLink()" />
				<p></p>
			</div>
			
			<div id="about-view" class="view" ng-show="view == 'about'">
				<h1>About</h1>
				<p>Made by <a href="../" alt="Michal Paszkiewicz home site">Michal Paszkiewicz</a>, a keen charanguista (player of charangos), guitarist and software developer.</p>
				<p>Download the mobile app by clicking <a href="charango-phone.apk">here</a>!</p>
			</div>
			
			<div id="footer-push"></div>
		</div>
		<div id="footer">Made by <a href="../" alt="Michal Paszkiewicz home site">Michal Paszkiewicz</a></div>
		
		<script src="charango.js"></script>
		
		<script>
			drawCharangoTuning("my-canvas");
		</script>
	</body>
</html>
