html, body{
	padding: 0;
	margin: 0;
}

#main-container{
	min-height: 100%;
}

#menu{
	float: right;
	width: 100%;
}

#menu a{
	height: 50px;
	line-height: 50px;
	min-width: 100px;
	display: inline-block;
	text-align: center;
}

#menu a:hover{
	background: rgb(55, 55, 55);
}

#menu, #footer, #menu a, #footer a{
	background: black;
	color: white;
}

#footer-push, #footer, #menu{
	height: 50px;
	clear: both;
}

#footer{
	margin-top: -50px;
	line-height: 50px;
	text-align: center;
}
