html, body{
	padding: 0;
	margin: 0;
}

#main-container{
	min-height: 100%;
}

#menu, #footer{
	background: black;
	color: white;
}

#footer-push, #footer{
	height: 50px;
	clear: both;
}

#footer{
	margin-top: -50px;
}
