html, body{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

canvas{
	margin: auto;
	display: block;
}

h1{
	text-align: center;
}

p{
	text-align: justify;
}

input{
	border-radius: 5px;
	border-style: ridge;
}

input[type*=text]{
	padding: 5px; 
	width: 100%;
}	

input[type*=number]{
	width: 50px;
	height: 40px;
	padding-left: 15px;
}

#main-container{
	min-height: 100%;
}

#menu{
	float: right;
}

#menu a{
	height: 50px;
	line-height: 50px;
	min-width: 100px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

@media (min-width: 800px) {
	#menu #burger-bar{
		display: none;
	}
	
	#menu #menu-items{
		display: block !important;
	}
}

@media (max-width: 800px) {
	#menu a {
		display: block;
	}
	
	#background{
		display: none;
	}
}

.chord-container{
	width:250px; 
	display:inline-block; 
	margin:5px;
}

@media (max-width: 500px){
	.chord-container{
		margin: auto;
		display:block;
	}
}

#menu a:hover{
	background: rgb(55, 55, 55);
}

#header, #footer, #menu a, #footer a{
	background: black;
	color: white;
}

#header{
	position: fixed;
	width: 100%;
}

#header h1{
	line-height: 50px;
	float: left;
	display: inline-block;
	margin: 0 10px;
	cursor: pointer;
}

#footer-push, #footer, #header, #header-push{
	height: 50px;
	clear: both;
	z-index: 5;
}

#footer-push{
	margin-top: 50px;
}

#footer{
	margin-top: -50px;
	line-height: 50px;
	text-align: center;
	position:relative;
}

#background{
	background: url(images/charango-front.JPG);
	background-size: 100% auto;
	opacity: 0.3;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	padding: 0;
}

.view{
	padding: 0 10px;
	overflow: hidden;
	z-index: 2;
	position: relative;
	max-width: 800px;
	margin: auto;
}

.string-name{
	width:50px; 
	display:inline-block; 
	text-align: center; 
	text-transform: uppercase;
}

.fret-button{
	text-align: center;
	background: rgba(140,140,140,0.5);
	padding: 5px;
	cursor: pointer;
	border-radius: 10px;
}

.fret-button:hover{
	background: rgba(100,100,100,0.5);
}

